.container {
    background-color: #ffffff;
    height: 100%;
    overflow: hidden;
}
.cover{
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform:translateX(0);
    -webkit-transition:-webkit-transform 400ms;
    background-image: url("../img/p1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}

.cover .index-time-box{text-align: center;color: #ffffff;padding-top: 1rem;line-height: 1;}
.cover .index-time-box .time{font-size: 2rem;font-family: "Helvetica Neue";font-weight: 200;}
.cover .index-time-box .date{font-size: 0.36rem;padding-top: 0.3rem;font-weight: 300;}

.cover .new-msg{
    margin-top: 0.6rem;
    width: 100%;
    height: 1.44rem;
    background-image: url("../img/p1_03.png");
    background-size: 6.16rem 1.44rem;
    background-position: center center;
    background-repeat: no-repeat;
}

.cover .btn-wrapper{
    position: absolute;
    left: 0;
    bottom: 1.6rem;
    width: 100%;
    height: 0.83rem;
    text-align: center;
}
.cover .btn-start{
    width: 0.83rem; 
    height: 0.83rem;
    background-image: url("../img/p1_07.png");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-animation:twinkling 1.2s infinite ease-in-out;
    /*animation:twinkling 1.2s infinite ease-in-out;*/
}

.cover .sys-msg{
    position: absolute;
    left: 0;
    bottom: 1rem;
    width: 100%;
    height: 0.29rem;
    background-image: url("../img/p1_11.png");
    background-size: 2.81rem 0.29rem;
    background-position: center center;
    background-repeat: no-repeat;
}



/** msgs */
.page-panel{
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform:translateX(100%);
    -webkit-transition:-webkit-transform 400ms;
}

.page{
    -webkit-transition:-webkit-transform 400ms;
    width: 100%;
    /*height: 100%;*/
    overflow: auto;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: top;
    font-size: 0;
    background-color: #ebebeb;
    text-align: center;
    padding-top: 0.2rem;
}
.page1{
    -webkit-transform:translateY(0);
}

.page2{
    -webkit-transform:translateY(100%);
}

.page3{
    -webkit-transform:translateY(200%);
}


.page .msg{
    margin-bottom: 0.2rem;
}


.page .content{max-width: 100%;}
.page .content img{max-width: 100%;}

.page .dialog .tail{
    z-index: -1;
}

.page .sys-msg{
    line-height: 0.36rem;
    padding: 0 0.2rem;
    border-radius: 0.08rem;
    color: #fff;
    background: #cecece;
    font-size: 0.2rem;
    /*min-width: 2rem;*/
    max-width: 5.6rem;
    display: inline-block;
    text-align: justify;
    font-weight: 400;
}


.page .firend-msg{
    position: relative;
    padding: 0 0.2rem 0 0.9rem;
    text-align: left;

}

.page .firend-msg .avatar{
    position: absolute;
    left: 0.2rem;
    top: 0;
    width: 0.64rem;
    height: 0.64rem;
    border-radius: 0.1rem;
}

.page .firend-msg .avatar img{width: 100%;height: 100%;overflow: hidden;}

.page .firend-msg .nickname{
    line-height: 1;
    font-size: 0.22rem;
    padding-bottom: 0.05rem;
    color: #7b7b7b;
    text-align: left;
    padding-left: 0.14rem;
}

.page .firend-msg .dialog{
    padding: 0 0.2rem 0 0.14rem;
   /* background-image: url("../img/dh-l.png");
    background-size: 0.14rem 0.28rem;
    background-position: left 0.1rem;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;*/
    position: relative;
}

.page .firend-msg .dialog .tail{
    font-size: 0.4rem;
    color: #ffffff;
    position: absolute;
    left: 0.03rem;
    top: 0;
    display: inline-block;
}

.page .firend-msg .content{
    background-color: #ffffff;
    border-radius: 0.1rem;
    font-size: 0.28rem;
    padding: 0.15rem;
    text-align: justify;
    display: inline-block;
}





/** user-msg */
.page .user-msg{
    position: relative;
    padding: 0 0.9rem 0 0.2rem;
    text-align: right;
}

.page .user-msg .avatar{
    position: absolute;
    right: 0.2rem;
    top: 0;
    width: 0.64rem;
    height: 0.64rem;
    border-radius: 0.1rem;
}

.page .user-msg .avatar img{width: 100%;height: 100%;overflow: hidden;}

.page .user-msg .nickname{
    line-height: 1;
    font-size: 0.22rem;
    padding-bottom: 0.05rem;
    color: #7b7b7b;
    text-align: right;
    padding-right: 0.14rem;
}

.page .user-msg .dialog{
    padding: 0 0.14rem 0 0.2rem;
    position: relative;
}

.page .user-msg .dialog .tail{
    font-size: 0.4rem;
    color: #9EEA6A;
    position: absolute;
    right: 0.03rem;
    top: 0;
    display: inline-block;
}



.page .user-msg .content{
    background-color: #9EEA6A;
    border-radius: 0.1rem;
    font-size: 0.24rem;
    line-height: 1.5;
    padding: 0.12rem;
    text-align: justify;
    display: inline-block;
}


/*.page .user-msg .content:before, .page .user-msg .content:after {
    border-left-color: #b2e281;
    border-left-width: 4px;
}
.page .user-msg .content:after {
    border-left-color: #fff;
}
.page .user-msg .content:after, .page .user-msg .content:before {
    left: 100%;
}
.page .user-msg .content:after, .page .user-msg .content:before {
    position: absolute;
    top: 14px;
    border: 6px solid ;
    content: " ";
}*/