*{margin:0;padding:0;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing:border-box;
-webkit-tap-highlight-color: rgba(200,200,200,0);}/**-webkit-user-select: none;**/
html{font-size : 48px ;height: 100%;width: 100%;font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;}
/** * Galaxy S5 landscape & portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){html{font-size: 56px ;}}
/** * Galaxy S5 landscape & portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4){html{font-size: 56px ;}}
@media only screen and (min-width: 375px){html{font-size: 58px ;}}
@media only screen and (min-width: 414px){html{font-size: 64px ;}}
@media only screen and (min-width: 481px){html{font-size: 70px ;}}
@media only screen and (min-width: 569px){html{font-size: 65px ;}}
@media only screen and (min-width: 600px){html{font-size: 93px ;}}
@media only screen and (min-width: 800px){html{font-size: 93px ;}}
@media screen and (max-device-width: 480px){body{-webkit-text-size-adjust: none;}}
a{text-decoration: none;-webkit-tap-highlight-color:rgba(221, 221, 221,0)}
body{margin:0; font-size:.24rem; width:100%; height: 100%; background:#f6f6f6;}
dl,dt,dd{margin:0; padding:0}
ul{margin:0;padding:0}
li{list-style-type:none;}
input{outline:none} 
.dlg{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 99;}
.dlg.on{display: block;}
.dlg.off{display: none;}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
    90% {
        -webkit-transform: translateY(-0.4rem);
        opacity: 0.2;
    }
    100% {
        -webkit-transform: translateY(-0.5rem);
        opacity: 0;
    }
}

@keyframes shake {
    0% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
     90% {
        -webkit-transform: translateY(-0.4rem);
        opacity: 0.2;
    }
    100% {
        -webkit-transform: translateY(-0.5rem);
        opacity: 0;
    }
}


@keyframes twinkling {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
@-webkit-keyframes twinkling{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

@keyframes scale {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
@-webkit-keyframes scale{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

      .container {
    background-color: #ffffff;
    height: 100%;
    overflow: hidden;
}
.cover{
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform:translateX(0);
    -webkit-transition:-webkit-transform 400ms;
    
}


/** msgs */
.page-panel{
    /*-webkit-overflow-scrolling:touch;*/
}

.page{
    width: 100%;
    height: 100%;
    font-size: 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    
    -webkit-transition:-webkit-transform 400ms;
    overflow: hidden;
}

.page1{
    background-image: url("../img/p1-bg.png");
    -webkit-transform:translateX(0);
    position: relative;
}

.page1 .p13{
    width: 3rem;
    height: 0.8rem;
    position: absolute;
    top: 6.9rem;
    left: 1.7rem;
    display: inline-block;
}

.page2{
    background-image: url("../img/p2-bg.jpg");
    -webkit-transform:translateX(100%);
    background-size: 100% auto;
    background-position: center top;
    background-color: #FD9224;
}

.page2 .p21{
    position: absolute;
    width: 1.03rem;
    height: 0.59rem;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url("http://act.cnhubei.com/static/hblx/img/p2-1.png");
    background-position: center center;
    top: 2.6rem;
    right: 1rem;
    -webkit-animation:twinkling 0.8s infinite ease-in-out;
    /*animation:twinkling 1.2s infinite ease-in-out;*/
}

.page2 .city{
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
}


.page3{
    /*background-image: url("http://act.cnhubei.com/static/hblx/img/p3-bg.png");*/
    background-color: #FDD100;
    -webkit-transform:translateX(200%);
    overflow: auto;
}

.page3 img{
    width: 100%;
    /*padding-bottom: 1.5rem;
    opacity: 0;
    -webkit-transition:opacity 400ms;*/
}


.page3 .btn-score{
    position: absolute;
    width: 5.3rem;
    height: 0.7rem;
    left: 0.55rem;
    top: 8.4rem;
}

.page3 .btn-back{
    position: absolute;
    width: 5.3rem;
    height: 0.7rem;
    left: 0.55rem;
    top: 9.4rem;
}

.page3 .mail-box{
    position: absolute;
    width: 100%;
    height: 3rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("http://act.cnhubei.com/static/hblx/img/P3-3.png");
    background-position: center top;
    left: 0;
    bottom: 0;
    z-index : 3;
}

.page3 .move{
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("http://act.cnhubei.com/static/hblx/img/up.png");
    background-position: center center;
    right: 0.4rem;
    bottom: 3rem;
    z-index: 3;
    /*margin-left: 0.54rem;*/
    opacity: 0;
    
}
.page3 .move.on{
    display: block;
    -webkit-animation:move-tb 2s 0.8s forwards ease-in-out;
}

.noscroll,
.noscroll body {
    overflow: hidden;
}
.noscroll body {
    position: relative;
}

@-webkit-keyframes move-tb {
    0% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
    49% {
        -webkit-transform: translateY(-1rem);
        opacity: 0;
    }
    50% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
    99% {
        -webkit-transform: translateY(-1rem);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 0;
    }
}



.page4{
    overflow: auto;
    -webkit-transform:translateX(300%);
    background-size: 100% auto;
}

.page4 img{
    width: 100%;
}


.page4 .btn-paper{
    position: absolute;
    width: 2rem;
    height: 1rem;
    top: 9.7rem;
    left: 0.9rem;
}

.page4 .btn-back{
    position: absolute;
    width: 2rem;
    height: 1rem;
    top: 9.7rem;
    left: 3.4rem;
}


.page5{
    
}


.page5 img{
    width: 100%;
    margin-top: -1.5rem;
}

.page5 .btn-like{
    width: 1rem;
    height: 1rem;
    background-size: 0.95rem 1rem;
    background-repeat: no-repeat;
     background-image: url(../img/tm/btn-like.png); 
    background-position: center center;
    position: fixed;
    text-indent: 0.48rem;
    font-weight: 400;
    right: 0.3rem;
    bottom: 1.5rem;
    /*border: 1px solid;*/
}

.page5 .like-avatar{
    width: 0.5rem;
    height: 0.5rem;
    position: fixed;
    right: 0.55rem;
    bottom: 2.5rem;
    display: inline-block;
    border-radius: 0.25rem;
    opacity: 0;
    /*border: 1px solid;*/
}

.page5 .like-avatar.pop{
    -webkit-animation: pop 1s forwards ease-in-out;
}


@-webkit-keyframes pop {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0;
    }
    40% {
        -webkit-transform: translateY(-0.2rem);
        opacity: 1;
    }
    80% {
        -webkit-transform: translateY(-0.4rem);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-0.5rem);
        opacity: 0;
    }
}

@keyframes pop {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0;
    }
    80% {
        -webkit-transform: translateY(-0.4rem);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-0.5rem);
        opacity: 0;
    }
}



.page5 .btn-msg{
    width: 1rem;
    height: 1rem;
    background-size: 0.95rem 1rem;
    background-repeat: no-repeat;
     background-image: url(../img/tm/btn-msg.png); 
    background-position: center center;
    position: fixed;
    text-indent: 0.48rem;
    font-weight: 400;
    right: 0.3rem;
    bottom: 0.5rem;
    /*border: 1px solid;*/
}

.page5 .msg-box{
    position: fixed;
    height: 4rem;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.page5 .msg-box li{
    line-height: 0.4rem;
    padding: 0 0.1rem 0 0.5rem;
    border-radius: 0.2rem;
    background-color: rgba(0,0,0,0.3);
    display: inline-block;
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: #fff;
    font-size: 0.2rem;
    left:100%;
    white-space: nowrap;
    transition: transform 6s linear;
}

.page5 .msg-box li.flow{
    transform: translateX(-200vw);
}

.page5 .msg-box li .msg-pic{
    position: absolute;
    left: 0.1rem;
    top: 0.02rem;
    width: 0.36rem;
    height: 0.36rem;
    border-radius: 0.18rem;
}

.page5 .btn-share{
    position: absolute;
    width: 1.61rem;
    height: 0.8rem;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    left: 50%;
    top: 7.9rem;
    margin-left: -0.8rem;
}


.page5 .share-msg{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0.25rem;
    left: 0;
    font-size: 0.2rem;
}
.dlg{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 99;}
.dlg.on{display: block;}
.dlg.off{display: none;}
.dlg .mask{position: fixed;width: 100%;height: 100%;left: 0;top: 0;opacity: 0.7;background-color: #000000;
    z-index: 100;
}

.dlg.share .dlg-content {
    background-image: url("http://www.cnhubei.com/download/2016/police/img/p3_20.png");
    background-position: top  right;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 80%;height: 100%;
    margin: 0 10%;
    z-index: 9999;
    position: fixed;
    right: 0;
    top: 0;
}

/*.page4  .btn-back{
    position: absolute;
    width: 3rem;
    height: 0.6rem;
    left: 1.8rem;
    bottom: 1.5rem;
    z-index: 10;
    display: none;
}*/

.msg-input{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
}